- content_for :businessheader do
  .row.rounded.main-message

    h3 Logg inn
    p
      | Logg på med Strava slik at vi automatisk kan legge til sykkelene dine.
      br
      | Da ser vi også hvor langt du sykler og kan gi beskjed når det er på tide med ny service.

= render "order_form"
