- if @services.empty?
  span Bra jobba! Alle syklene er reparert! :-)
- else
  h1 Sykler som må fikses

= render @services

br

br
br
br
= link_to 'Registrer ny service', customers_search_path, class: 'btn btn-success'
