.pull-right
  = link_to 'Edit', edit_customer_path(@customer)
h3= @customer.name
span= "Phone: #{@customer.mobile}"
br
span= "Email: #{@customer.email}"


br
br


h2 Bikes
.box-shadow

  ul.bikes
    - @customer.bikes.each do |b|
      li
        = link_to b.name, [@customer, b]

br
br
br
= link_to 'Add bike', new_customer_bike_path(@customer), class: 'btn btn-default'
