h1 Payed orders
- if @payed.blank?
  span.alert.alert-warning None of our orders are payed for.

- if @payed.present?
  = render "list", collection: @payed

hr
br
br
br
h1 Not payed

- if @not_payed.blank?
  span.alert.alert-warning We don't have any new orders

- if @not_payed.present?
  = render "list", collection: @not_payed

br
br
br
= link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
