ul.users
  margin-top: 40px



#users_search
  .alert
    margin-top: 20px


.box-shadow
  border: 1px solid
  padding: 16px
  box-shadow: 10px 10px 5px #888

#users_show
  #this_service
    .box-shadow
      margin-bottom: 30px
